<!-- <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>


<ul>
    <li *ngFor="let item of myItems; let i=index"> 
        <h3>{{item.name}}</h3>
        <p>price: ${{item.price}}</p>
        <p>quantity: {{item.quantity}}</p>  
        <button *ngIf="item.quantity > 0" (click)="buyItem(i)">Buy</button>  
        <button *ngIf="item.quantity <= 0" (click)="requestItem(item.name)">Request Stock</button>
    </li> 
</ul>